@media (max-width: 426px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
    font-family: sans-serif;
    max-width: 426px;
  }
}
