.sub {
  width: 100%;
}

.sub__title {
  position: absolute;
  top: 40px;
  left: 400px;
  font-size: 80px;
}

.sub__img3 {
  position: absolute;
  max-width: 100%;
  top: 260px;
  left: 0;
  margin: 0 80px;
}

.sub__img1 {
  position: relative;
  top: 38px;
  left: 7px;
  width: 100%;
}

.sub__img2 {
  position: relative;
  bottom: 182px;
  right: 2px;
  width: 100%;
}

@media screen and (max-width: 426px) {
  .sub {
    display: inline;
  }
  .sub__title {
    max-width: 426px;
    top: 0;
    left: 90px;
    font-size: 54px;
  }
  .sub__img3 {
    margin: 0 10px;
    top: 90px;
    left: 0;
    width: 330px;
  }
  .sub__img1 {
    top: 2px;
    left: 2px;
    max-width: 350px;
  }
  .sub__img2 {
    bottom: 62px;
    left: 5px;
    max-width: 340px;
  }
}
