/* .sub {
}

.sub__info {
}

.sub__title {
} */

@media (max-width: 426px) {
  .sub {
    display: inline;
  }
  .sub__title {
    font-size: 64px;
    text-align: center;
  }
  .sub__img {
    width: 100%;
  }
}
