/* .sub {
}

.sub__info {
}

.sub__title {
} */

@media (max-width: 426px) {
  .sub {
    display: inline;
  }
  .sub__title {
    position: absolute;
    top: 0;
    left: 70px;
    font-size: 64px;
  }
  .sub__img3 {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
  .sub__img1 {
    position: relative;
    top: 20px;
    left: 17px;
    max-width: 100%;
  }
  .sub__img2 {
    position: relative;
    bottom: 60px;
    left: 16px;
    max-width: 100%;
  }
}
